{% extends 'base.html' %}

{% block content %}
    <h1>Carrinho de compras</h1>
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in itens_do_carrinho %}
                <tr>
                    <td>{{ item.produto.nome }}</td>
                    <td>{{ item.quantidade }}</td>
                    <td>R$ {{ item.produto.preco }}</td>
                    <td>R$ {{ item.quantidade * item.produto.preco }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total</td>
                <td>R$ {{ itens_do_carrinho|total_carrinho }}</td>
                <button class="remover-do-carrinho" data-carrinho-item-id="{{ item.id }}">Remover</button>
            </tr>
        </tfoot>
    </table>
{% endblock %}
