{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Homepage Loja
{% endblock %}

{% block content %}
<head>
	<title>Minha Loja</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css">
</head>
<body>
    <div class="container mx-auto mt-10">
        <h1 class="text-3xl font-bold mb-5">Produtos em destaque</h1>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">

            {% if produto_destaque %}
            <a href="produto/{{ produto_destaque.id }}" class="bg-white rounded-lg overflow-hidden shadow-lg">
                <img src="{{ produto_destaque.imagem.url }}" class="w-full">
                <div class="p-4">
                    <h2 class="text-xl font-bold mb-2">{{ produto_destaque.nome }}</h2>
                    <span class="text-lg font-bold text-green-500">R$ {{ produto_destaque.preco }}</span>
                </div>
            </a>
            {% endif %}

            <!-- Adicionar mais produtos -->
            {% for produto in lista_produtos_recentes %}
            <a href="produto/{{ produto.id }}" class="bg-white rounded-lg overflow-hidden shadow-lg">
                <img src="{{ produto.imagem.url }}" class="w-full">
                <div class="p-4">
                    <h2 class="text-xl font-bold mb-2">{{ produto.nome }}</h2>
                    <span class="text-lg font-bold text-green-500">R$ {{ produto.preco }}</span>
                </div>
            </a>
            {% endfor %}

        </div>
    </div>
</body>
{% endblock %}