.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  margin: 0 auto;
  max-width: 400px; /* ajuste o valor conforme necessário */
}

/* cor vermelha para mensagens de erro */
.errorlist {
  color: red;
}

/* cor verde para mensagens de sucesso */
.success {
  color: green;
}







