<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block titulo %}
        {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
    <script src="https://cdnjs.cloudflare-7Ji+qbH1E7Bl+kwTQ8hlZsYe4flyUX.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512tz+xCs7+kjeac1Hjy4JYES00n2aI1Cq3+qZOZD+NJvRJ4MteL+9W4Mhw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.5.0/js/bootstrap.min.js" integrity="sha512-0FmslNvA1V7XnX9jqC6n56ps6qbhbU6gJU6n2zZ7xu6b2hV7q1OLq/n8d7sqirKoRlncDbB5l5B1cZz5r5f20w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



    {% block head %}
    {% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>

</body>
</html>