<nav class="navbar navbar-expand-lg navbar-light bg-warning navbar-container">
  <div class="container-fluid">
    <a class="navbar-brand text-black" href="/">ShocK Eletrônicos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active text-black" aria-current="page" href="#">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="#">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="#">Promoções</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="#">Contato</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Eletrônicos</a></li>
            <li><a class="dropdown-item" href="#">Utilidades Domésticas</a></li>
              <li><a class="dropdown-item" href="#">Lazer</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
        <button class="btn btn-outline-dark" type="submit">Buscar</button>
      </form>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-black" href="{% url 'editar_perfil' %}">Editar Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="{% url 'logout' %}">Sair</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link text-black" href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>